
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Список задач</h1>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    <a href="{% url 'task_detail' task.id %}">{{ task.description }}</a> - {{ task.get_status_display }} - {{ task.due_date }}
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
