
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Список задач</h1>
        <a href="{% url 'task_create' %}" class="btn btn-success mb-4">Добавить Задачу</a>
        <div class="row">
            {% for task in tasks %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.description }}</h5>
                            <p class="card-text">{{ task.get_status_display }}</p>
                            <p class="card-text">{{ task.due_date }}</p>
                            <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Изменить</a>
                            <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
