<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">To-Do List</h1>
        <a href="{% url 'add_task' %}" class="btn btn-primary mb-3">Добавить задачу</a>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    <a href="{% url 'task_detail' task.id %}">{{ task.description }}</a> - {{ task.get_status_display }} - {{ task.due_date }}
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
